.primary_button{
    border-radius: 15px;
    background: #0450C0;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 373px;
    padding: 17px;
}

.primary_button:hover{
    background: #0449b1;
}

.primary_button:active{
    background: #033886;
}